<style>
body {background-color: #EDC7B7;}
h1   {color: #AC3B61;}

.jumbotron{
background-color : #123C69;
color: #EDC7B7;
}

h4{
font-color: #EDC7B7;
}
#url{
width: 70%;
}

::placeholder{
color: #AC3B61;
opacity: 0.4;
}

</style>
<div class ="center-block">
	<div class ="jumbotron text-center">
		<form method = "post" action ="/download">
			<h4 class="display-4">Please paste a valid youtube video URL:</h4>

			<input type="url" name="url" id="url" class="form-control-lg"
				placeholder="Example: https://www.youtube.com/watch?v=lLWEXRAnQd0"
				pattern="https:\/\/www\.youtube\.com\/watch\?v=.*" title="https://www.youtube.com/watch?v=..." autocomplete = "off"
				required autofocus>
			 <input type="submit" role ="button" class="btn-lg" value="submit">
		</form>
	</div>
</div>

